<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Incommit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>

    <div class="app">
        <div class="container">

            <div class="nav-wrapper">

                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="getinvolved.html">Get Involved</a></li>
                </ul>

            </div>

            <div class="header-wrapper">
                <h1>Incommit</h1>
                <p>In commits, we trust!</p>
            </div>

            <div class="form-wrapper">
                <input type="text" class="form-control" v-model="user" placeholder="User">
                <input type="text" class="form-control" v-model="repo" placeholder="Repo">
                <input type="button" value="See Commits">
            </div>

            <!-- TO BE CHANGED [EXAMPLE OF COMMIT] -->
            <div class="results-wrapper">

                <div class="result">
                    <h3>changed index.html</h3>
                    <p>by autonabil on 23 October 2018</p>
                </div>

            </div>

            <div class="footer-wrapper">

                <h6>Nabil Ridhwanshah (C) 2018</h6>

            </div>

        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>