@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:700,800,900');

body{
    background:#161616;
    color: #e94444;
    font-family: 'Nunito Sans', sans-serif;
    word-break: break-all;
}

.nav-wrapper ul{
    margin: 50px 0;
    padding: 0;
}

.nav-wrapper li{
    display: inline;
    margin-right: 10px;
    font-size: 20px;
}

.nav-wrapper a{
    color: rgb(233, 68, 68);
    text-decoration: none;
}

.header-wrapper h1{
    font-size: 65px;
}

.header-wrapper p{
    font-size: 20px;
}

.btn-primary{
    background: #e94444;
    color: #161616;
    border: 0;
}

.form-control{
    background: #e94444;
    color: #161616;
    border: 0;
}

.form-control::placeholder{
    color: #161616;
}

.header-wrapper{
    margin: 100px 0;
}

.results-wrapper{
    margin: 20px 0;
}