@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #161616;
    color: white;
}

.jumbotron{
    background: #191919;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

.title{
    font-size: 60px;
}