@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:700,800,900');

body{
    background:#161616;
    color: #e94444;
    font-family: 'Nunito Sans', sans-serif;
    word-break: break-all;
}

.nav-wrapper ul{
    margin: 50px 0;
    padding: 0;
}

.nav-wrapper li{
    display: inline;
    margin-right: 10px;
    font-size: 20px;
}

.nav-wrapper a{
    color: rgb(233, 68, 68);
    text-decoration: none;
}

.header-wrapper{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 50px;
    /* background: #e94444; */
    /* color: #161616; */
}

.header-wrapper h1{
    font-size: 80px;
    font-weight: 800;
}

.header-wrapper p{
    font-size: 20px;
}

.btn-primary{
    background: #e94444;
    color: #161616;
    border: 0;
}

.form-control{
    background: #e94444;
    color: #161616;
    border: 0;
    border-radius: 0;
}

.form-control::placeholder{
    color: #161616;
}


.results-wrapper{
    margin: 20px 0;
}

.result{

    padding: 20px 0;
    border-top: 2px solid #e94444;
    /* border-bottom: 2px solid #e94444; */
    
}
/* 
.footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #e94444;
    color: #161616;
    padding: 20px 0;
} */